<!DOCTYPE html>
<html>
<head>
<title>Texrack</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
</head>
<body>
<div class="container">
<h1 class="page-header">Render <img src="/?data=\LaTeX&math=0" alt="LaTeX"> as a PNG</h1>

<form action="/" method="POST">
  <p><textarea name="data"></textarea></p>
  <p><input type="submit" class="btn btn-primary" value="Render PNG"></p>
</form>
</div>
</body>
</html>
